<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <% if (locals.msg) { %>
        <p><%= locals.msg %></p>
    <% } %>
    <%- include('./partials/signup.partials.ejs') %>
    <%- include('./partials/script.ejs') %>
</body>
</html>